@font-face {
  font-family: "VCR";
  src: url("/fonts/VCRosdNEUE.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "VCR", monospace !important;
}

pre,
code {
  font-family: "VCR", monospace !important;
  font-weight: 100;
}

::selection {
  background: #fff;
  color: #000;
}

::-moz-selection {
  background: #fff;
  color: #000;
}

/* Scrollbar - Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px; /* extra fine, terminal vibes */
}

::-webkit-scrollbar-track {
  background: transparent; /* invisible */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* toute blanche */
  border-radius: 999px; /* arrondi complet */
}

/* hover optionnel pour visibilité */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

img,
.no-selection {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.hero-bg {
  z-index: -1;
  width: 100vw;
  word-wrap: break-word;
  opacity: 0.02;
  font-size: 3rem;
  user-select: none;
}
